.list {
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 20px;
    width: 100%;
}
.home-page-container {
    display: flex;
}
h1{
    margin-left: 6px;
    font-size: 29px !important;
    margin-bottom: 6px !important;
}
/*.filter {*/
/*  margin-bottom: 16px !important;*/
/*}*/
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

/*undraw*/
.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
/*responsive 320*/
@media screen and (max-width: 320px) {
    .titleHome{
        font-size: 20px !important; ;
    }
}
/*responsvie 352-387*/
@media screen and (min-width: 352px) and (max-width: 387px) {
    .titleHome{
        font-size: 20px !important; ;
    }
}
/*responsive 365 to btnfilter*/
@media screen and (max-width: 365px) {
    .btnFilterr{
        font-size: 11px !important;
    }
    .btnFilterrr{
        font-size: 19px !important;
    }
}
/*responsive 465*/
@media screen and (max-width: 465px) {
    .titleHome{
        margin-top: 800px !important;
    }
    .filter{
        top: 23px !important;
    }
    .btnFilter{
        display: grid;
    }
}
@media screen and (max-width: 1200px) {
    .titleHome {
        margin-top: 15px !important;
    }
}
@media screen and (max-width: 880px) {
    .btnFilter {
        margin-top: 0 !important;
        justify-content: normal !important;
    }
}
/*.undrawNotif img {*/
/*    width: 500px;*/
/*    position: absolute;*/
/*    top: 50% !important;*/
/*    left: 50% !important;*/
/*    transform: translate(-50%, -50%) !important;*/
/*}*/

/*.undrawNotif {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    left: 1000000px !important;*/
/*    position: relative;*/
/*}*/

/*@media screen and (max-width: 465px) {*/
/*    .undrawNotif img {*/
/*        max-width: 250px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 352px) and (max-width: 387px) {*/
/*    .undrawNotif img {*/
/*        max-width: 200px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 320px) {*/
/*    .undrawNotif img {*/
/*        max-width: 150px;*/
/*    }*/
/*}*/