/*responsive 469*/
@media screen and (max-width: 469px) {
    .titleDetail {
        font-size: 26px !important;
        margin-top: 10px !important;
    }
    span {
        font-size: 18px !important;
    }
}
/*responsive 403*/
@media screen and (max-width: 403px) {
    .titleDetail {
        font-size: 20px !important;
        margin-top: 10px !important;
    }
    span {
        font-size: 14px !important;
    }
}
.btnTitle {
    display: flex;
    flex-wrap: wrap;
}
.titleDetail {
    margin-top: 10px !important;
}
.myButton {
    margin-right: 10px !important;
    /*background-color: white !important;*/
}