.list {
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 20px;
}
/*!* Atur padding pada card atau item grid *!*/
/*.list .MuiGrid-item {*/
/*    padding:  10px; !* Sesuaikan nilai padding *!*/
/*}*/

.home-page-container {
    display: flex;
}

.filter-sidebar {
    width: 35%;
    background-color: #303c45;
    padding: 20px;
    margin-top: 55px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
h1{
    margin-left: 80px;
    margin-top: -2.7%;
}

@media screen and (max-width: 599px) {
    h1{
        margin-left: 73px;
        margin-top: -8%;
        font-size: 16px;
    }
    .filter{
        width: 100%;
    }
}
/*.content {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*}*/
